In [2]:
import sqlite3

# create a database called week3.sqlite
# isolation_level=None allows for autocommit
con = sqlite3.connect('week3_lab.sqlite', isolation_level=None)

# create a cursor object; cursor is like the highlight (current selection) of cells in a spreadsheet
cur = con.cursor()

In [3]:
# all capital letters for SQL commands; except for table and column names
# DROP TABLE IF EXISTS is a safety check to prevent errors
# DROP TABLE command is used to delete a table from the database
cur.execute("""DROP TABLE IF EXISTS movies""")

In [4]:
# table name: movies, and has many columns
# id: primary key, unique identifier for each row (like uuid)
# title: text, string
# always has created_at and updated_at

# cur.execute(q): q is a string that contains SQL commands

q = """
CREATE TABLE IF NOT EXISTS movies (
    id INTEGER PRIMARY KEY,
    title TEXT,
    year INTEGER,
    rating FLOAT,
    is_watched BOOLEAN DEFAULT 0,
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP,
    updated_at DATETIME DEFAULT CURRENT_TIMESTAMP
)
"""
cur.execute(q)

In [5]:
# Check if the table is created
q = """
SELECT
    name
FROM
    sqlite_master
"""
res = cur.execute(q)

In [6]:
# fetch the first row
res.fetchone()
# fetch all
# res.fetchall()

('movies',)

In [7]:
# * means all columns (column values)
q = """
SELECT
    *
FROM
    movies
"""
res = cur.execute(q)
res.fetchall()

[]

In [8]:
# insert data
# ? automatically clean the string; from SQL injection (do not use f-string in python)

q = """
INSERT INTO 
    movies (
        title,
        year,
        rating
    ) VALUES (?, ?, ?)
"""
cur.execute(
    q, 
    ('sss', 1999, 9.9)
) # the position goes in correspondingly: "The Matrix" -> title (first question mark), 1999 -> year (second question mark), 9.9 -> rating (third question mark)

# or:
# f-string allows you to insert variables into strings, e.g. f"hello {name}"

# q = f"""
# INSERT INTO 
#     movies (
#         title,
#         year,
#         rating
#     ) VALUES 
# (
#    'The Matrix', 
#   {rating}, 
#   9.9
# )
# """
# cur.execute(q)

In [9]:
[x for x in cur.execute("""SELECT * FROM movies""")]

[(1, 'sss', 1999, 9.9, 0, '2024-01-23 23:32:53', '2024-01-23 23:32:53')]

In [11]:
res = cur.execute("""SELECT * FROM movies""")
# res.fetchall() the data might be too large to fetch all at once

# the best practice when working with large datasets is to use a for loop: work with data line by line
for row in res:
    print(row)

(1, 'sss', 1999, 9.9, 0, '2024-01-23 23:32:53', '2024-01-23 23:32:53')

In [12]:
data = [
    ("Monty Python Live at the Hollywood Bowl", 1982, 5.0),
    ("Monty Python's The Meaning of Life", 1983, 4.5),
    ("Monty Python's Life of Brian", 1979, 3.9),
]

# bulk insert (insert many data at once)
# e.g. collect data, and insert all at once if the data >100; then clean the tempo data and collect the next 100 data 
cur.executemany("INSERT INTO movies (title, year, rating) VALUES(?, ?, ?)", data)

In [14]:
for row in cur.execute("SELECT year, title, rating FROM movies ORDER BY year"):
    print(row)

(1979, "Monty Python's Life of Brian", 3.9)
(1982, 'Monty Python Live at the Hollywood Bowl', 5.0)
(1983, "Monty Python's The Meaning of Life", 4.5)
(1999, 'sss', 9.9)

In [15]:
import pandas as pd

In [16]:
# another way to work with database: pandas
data = [
    {"name": "leo"},
    {"name": "leo"},
    {"name": "leo"},
    {"name": "leo"},
    {"name": "leo"},
    {"name": "leo"},
    {"name": "leo"},
    {"name": "leo"},
    {"name": "leo"},
    {"name": "leo"},
]
# load data into pandas
df = pd.DataFrame(data)
con = sqlite3.connect('week3_lab.sqlite', isolation_level=None)
# create a new table called users
df.to_sql("users", con)